<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Registration</title>
</head>
<body>
    <h1>Teacher Registration Form</h1>
    <form action="/teacherForm" method="post">
        <div>
            <label for="name">Full Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="department">Department:</label>
            <input type="department" id="department" name="department" required>
        </div>
        <!-- <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div> -->
        <input type="hidden" name="userType" value="teacher">
        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>
